*.o.tmp
*.out
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Rust
target/

# Jam folders
output/
build/
misc/

# Docs (jekyll)
docs/_site/
docs/.sass-cache/
docs/.jekyll-cache/
docs/.jekyll-metadata
docs/Gemfile.lock
docs/vendor/
