build
*.o.tmp
*.out
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Docs (jekyll)
docs/_site/
docs/.sass-cache/
docs/.jekyll-cache/
docs/.jekyll-metadata
docs/Gemfile.lock
docs/vendor/

/misc

# fwiw i need to update this flow
abi_tests
codegen_error_tests
init_tests
output
diagnostic_tests
analyzer_tests
decl_tests